<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}"> -->
   
    <title>congrats</title>
</head>
<!-- <style>
    body {
        background-image: url('https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png');
        background-attachment: fixed;
        background-size: cover;
      }
    h1{
        text-align: center;
        color: rgb(8, 72, 51);
    }
    div{
        text-align: center;
    }
</style> -->
<body>
    <div>
        <!-- <h1 style="margin-top: 50px ;">Customer have been added Successfully!</h1><br>
        <a  href="{% url 'showcustomers' %}" class="btn btn-info">Show Customer!</a><br><br>
        <a href="/" class="btn btn-primary">Back To Home!</a><br><br>
        <a  class="btn btn-danger" href="/signout"> LogOut </a> <br><br><br> -->
        <form name="myform" onsubmit="checkTaxRate()">
            <input id="tax" name="tax" type="number" min="0" pattern="/^[0-9.]+$/" 
            maxlength="6" class="form-control" placeholder="000.00">
            <!-- <button onclick=check() >click me</button> -->
            <input type="submit" name="SUBMIT">
        </form>
        
    </div>
    <script>   
    
    function checkTaxRate()
        {
            // console.log("print")
            var val = document.forms['myforms']['tax'];
            if (val > 999.99)
            {
                return false;
            }
        }
            checkTaxRate()
</script>
</body>





</html>